/.git/
/.github/
/.idea/
/.vs/
/build/
/build-*/
/cmake-build*
/vc17/
/vc18/generated/
/vcpkg/
/vcpkg_installed/
/android/app/build/
/android/app/.cxx/
/android/.gradle/
Dockerfile*
*.dll
*.exe
*.ilk
*.log
*.pdb
*.obj
*.lib
*.ilk
*.exp